{erl_opts, [debug_info]}.
{deps, [
  %% OTP 27+ provides json in stdlib; this is dropped at compile time there.
  {json_polyfill, "~> 0.2"},
  {eqwalizer_support,
    {git_subdir,
        "https://github.com/whatsapp/erlang-language-platform.git",
        {branch, "main"},
        "eqwalizer/eqwalizer_support"}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [mgmtd]}
]}.
